body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 14px;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
color: #fff;
padding: 10px;
}

nav h2 {
margin: 0;
font-size: 28px;
}

nav ul {
display: flex;
list-style: none;
margin: 0;
}

nav ul li {
margin-right: 25px;
}

nav ul li a {
color: #fff;
text-decoration: none;
font-size: 18px;
}

.cart-container {
max-width: 800px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart-container h1 {
margin-top: 0;
}

table {
width: 100%;
border-collapse: collapse;
margin-bottom: 20px;
}

table tr:nth-child(even) {
background-color: #f2f2f2;
}

table th {
background-color: #333;
color:#fff;
padding: 10px;
text-align: left;
}

table td {
padding: 10px;
}

.cart-total {
display: flex;
justify-content: space-between;
align-items: center;
}

.cart-total h3 {
margin: 0;
}

.cart-total button {
    background-color: #4CAF50;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}

.cart-total button:hover {
background-color: #4CAF50;;
}
form {
max-width: 500px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form h2 {
margin-top: 0;
font-size: 24px;
}

form label {
display: block;
margin-bottom: 10px;
}

form input,
form textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 4px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form button[type="submit"] {
background-color: #333;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}

form button[type="submit"]:hover {
background-color: #444;
}

@media (max-width: 768px) {
nav {
flex-direction: column;
text-align: center;
}

nav ul {
margin-top: 10px;
justify-content: center;
}

nav ul li {
margin-right: 0;
margin-bottom: 10px;
}
}
#selectedComponents {
max-width: 800px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: column;
align-items: center;
}

/* Adjust the total price styling */
#totalPrice {
font-weight: bold;
margin-bottom: 10px;
}

/* Adjust the button styling */
#checkoutButton {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 10px;
cursor: pointer;
}

#addToCartButton{
    background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 10px;
cursor: pointer;

}